<html>

<body>
  <div class="header">
    <span>Welcome</span>
  </div>
  <div class="user-input">
      <span>Enter your coordinates :  </span>
      <input type = "text" [(ngModel)] = "userCoordinates.latitude"  name="lat" placeholder="Enter Latitude">
      <input type = "text"  [(ngModel)] = "userCoordinates.longitude" name="long" placeholder="Enter Longitude">
      <button (click) = "calculateDistance()">Submit</button>
  </div>
  <div class="result-div" *ngIf = "displayFlag" >
    <div class="heading-text">
      <span>These are the nearby hospitals</span>
    </div>
    <div class ="places-list" *ngFor = "let array of nearbyHospitals">
      <div class="places-list-box">
        {{array.name}}
      </div>
    </div>
  </div>
</body>

</html>
